*, *::before, *::after {
    box-sizing: border-box;
}

$font-text: 'PT Serif', serif;
$font-header: 'Roboto', sans-serif;
$font-logo: 'Condiment', cursive;
$color-main: #e1b12c;


.container-fluid {
  position: relative;
  background-image: url(https://i.postimg.cc/qRxKVGBS/pexels-vitaly-vlasov-1655817.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.navbar .splash {
  background: inherit;
}

.navbar {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
}

.navbar-brand {
  color: $color-main;
  font-family: 'Condiment', cursive;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  font-size: 36px;
}

.navbar ul {
  list-style-type: none;
  display: inline-flex;
}

.nav-link {
  color: white;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 18px;
  padding: 0 18px;
}

.splash {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.splash h1 {
  color: white;
  font-style: italic;
  text-align: center;
  font-family: 'PT Serif', serif;
  font-size: 36px;
}

.splash p {
  color: white;
  font-family: $font-text;
  font-size: 64px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.btn {
  background-color: $color-main;
  border-color: $color-main;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: center;
  display: inline-block;
  min-width: 160px;
  max-width: 160px;
  margin: auto;
  padding: 16px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-width: 2px;
  border-style: solid;
  background-position: 100% 0;
  background-size: 300%;
}

.card {
  border-color: black;
  border: 2px;
  text-align: center;
  background: white;
}


.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-deck {
  padding: 24px;
}

.card i {
    font-size: 30px;
    background: $color-main;
    height: 60px;
    width:60px;
    line-height: 60px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    position: relative;
    transformX: 50%;
}

h2 {
  font-style: normal;
}

h3 {
  color: black;
  text-align: center;
  line-height: 1;
  padding-top: 112px;
  font-family: 'Roboto', sans-serif;
  font-size: 48px
}

h4 {
  color: #747d8c;
  text-align: center;
  font-style: italic;
  padding-bottom: 24px;
  line-height: 1.7;
  font-family: 'PT Serif', serif;
  font-size: 18px;
}

h5 {
  text-align: center;
  font-style: normal;
  color: black;
  font-family: 'PT Serif', serif;
  font-size: 18px;
}
.portfolio p {
  font-style: italic;
  padding-bottom: 24px;
  font-family: 'PT Serif', serif;
}

.services .card-text {
  font-style: normal;
  font-family: 'PT Serif', serif;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    display: inline-flex;
    flex: 33.333%;
    font-size: 0px;
}

footer .row {
    margin: 0 auto;
}

footer .fab {
    font-size: 30px;
    background: black;
    height: 60px;
    width: 60px;
    line-height: 60px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
}
footer p {
  font-style: normal;
  font-family: 'PT Serif', serif;
}

.footer {
  margin-top: 24px;
  margin-bottom: 24px;
}

.portfolio {
  background: #a4b0be;
}

.portfolio .row:last-of-type {
  padding-bottom: 112px;
}

.services .row {
  padding-bottom: 112px;
}
